* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0.5rem;
  background-color: #eceef1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #0077c5;
}

/* Already have an account? section */
.register-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.register-text {
  margin-right: 1rem;
  font-size: 0.8rem;
}

footer p {
  margin: 0.5rem 0 0 0;
  line-height: 18px;
}

.register-text p {
  margin: 0 0 0.3rem 0;
}

.blue-button {
  background-color: #0077c5;
  color: #fff;
  padding: 0.7rem 1rem;
  text-align: center;
  border-radius: 0.2rem;
  border: 1px solid #000;
}

/* logo and external links */
.logo-and-links-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.logo-and-links-nav .external-links {
  margin-top: 0.8rem;
}

.logo-and-links-nav .external-links a {
  color: #535455;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
}

.logo-and-links-nav .external-links a i {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}


footer .footer-links-nav a {
  color: #505050;
}

footer .footer-links-nav a:hover {
  text-decoration: underline;
}

footer .footer-links-nav a:nth-child(2) {
  margin: 0 0.5rem;
}

.logo-and-links-nav .external-links a:nth-child(2) {
  margin: 0 0.5rem;
}

.logo-and-links-nav .external-links a:first-child i {
  color: #049d86;
}

.logo-and-links-nav .external-links a:nth-child(2) i {
  color: #0ea338;
}

.logo-and-links-nav .external-links a:nth-child(3) i {
  color: #ed1f12;
}

/* Form */
.card {
  width: 450px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  margin-top: 2rem;
  text-align: center;
}

.card-body {
  padding: 2rem;
}

.card-footer {
  background-color: #eceef1;
  padding: 2rem;
  color: #757575;
  font-size: 0.8rem;
  font-weight: 300;
}

.form-title {
  font-size: 1.8rem;
  font-weight: 100;
}

.form-description {
  font-size: 0.8rem;
}

input {
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid #c7c7c7;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.span-input {
  font-size: 0.67rem;
  margin-top: 0.4rem;
}

.py-large {
  margin: auto;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.terms {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}

/* Footer */
footer {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  padding: 2rem .25rem;
  color: #505050;
}
